#home-wrapper{
    height:100%;
    width:100%;
    background-color: var(--secondary-color);

}


#search-bar-modal{
    width:fit-content;

    background-color: white;
    border-radius: var(--default-radius);
    padding:15px 10px 15px 10px;
}

#search-bar-input {
    background-color: var(--secondary-color);
    text-decoration: none;
    border: none;
    width: 100%;
    height:100%;
    font-size:1em;
}

#search-bar-wrapper{
    background-color: var(--secondary-color);
    border-radius: var(--default-radius);
    margin-right:5px;
    min-width:550px;
    padding:15px 10px 15px 10px;
    height:100%;
}

#search-icon{
    height:15px;
    filter:invert(0.35);
    margin-right:5px;
}

#search-btn{
    padding:15px 60px 15px 60px;
    border-radius: var(--default-radius);

    background-color: blue;
    color:white;
    font-weight: 600;
    font-size:1em;
    border: none;

    margin-right:5px;
}



#results-wrapper{

    box-sizing: border-box;

    margin-top:115px;
    width:100%;
    background-color:white;
    height:100%;
    padding:10px;
}

#results-top-bar{
    box-sizing:border-box;
    width:100%;
    padding:10px;
    border-bottom:1px solid black;
    height:10%;
}

#results-main {
    box-sizing:border-box;
    max-width:100%;

    overflow: scroll;
    height:80%;
}

#results-bottom-bar {
    box-sizing:border-box;
    width:100%;
    height:10%;
    padding:10px;
    border-top:1px solid black;
}

#download-btn{
    background-color: blue;
    color:white;
    font-weight: 600;
    padding:10px 30px 10px 30px;
}

#result-num{
    border-radius: 45%;
    background-color: rgb(117, 117, 117);
    color:white;
    padding:5px;

    margin-left:2px;
}

#loader-wrapper{
    width:100%;
    height:300px !important;
    margin-top:130px;
}

#result-loader{
    width:15%;
}

#encoding-dropdown{
    padding:15px 5px 15px 5px;
    border-radius: var(--default-radius);
    border:1px solid lightgray;
    height:100%;
    background-color: var(--secondary-color);
}

/* -------------- Nav Bar ---------------- */
#nav-bar{
    position:absolute;
    top:0;

    width:100%;
    height:115px;
    background-color: blue;
    padding-left:20px;
}